<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>PQRS Ya!</title>
  <style>
    .navbar-header {
      border-radius: 13px;
      float: left;
      padding: 5px;
      text-align: center;
      width: 100%;
      background-color: rgb(195, 214, 128);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .navbar-brand {
      float: none;
    }

    .divr {
      border-radius: 13px;
      float: left;
      padding: 5px;
      text-align: center;
      width: 100%;
      background-color: rgb(222, 226, 204);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .table td {
      text-align: center;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <b class="navbar-brand" style="font-size: 30px;">PQRS Ya!</b>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="container container-fluid">
      <div class="divr">
        <div class="row">
          <div class="col-3">
            <div class="mb-3">
              <br>
              <h3><b>Consultar PQRS</b></h3>
              <br>
              <b>Numero de radicado</b>
              <input type="text" id="myInput" onkeyup="filtroNumero()" placeholder="# de radicado"
                style="text-align: center;">
              <br><br><br>
              <b>Tipo de radicado</b>
              <br>
              <select id="filtro1" style="text-align: center;">
                <option value="todos">Todos</option>
                <option value="Petición">Petición</option>
                <option value="Queja">Queja</option>
                <option value="Reclamo">Reclamo</option>
                <option value="Sugerencia">Sugerencia</option>
              </select>
              <br><br><br>
              <b>Estado de radicado</b>
              <select id="filtro2" style="text-align: center;">
                <option value="todos">Todos</option>
                <option value="Nuevo">Nuevo</option>
                <option value="En Proceso">En Proceso</option>
                <option value="Resuelto">Resuelto</option>
                <option value="Rechazado">Rechazado</option>
              </select>
            </div>
            <br><br>
            <button type="button" class="btn btn-primary">Generar Informe</button>
            <br><br><br><br>
          </div>
          <div class="col-9">
            <div class="mb-3">
              <br>
              <table class="table table-striped table-sm table-bordered" id="myTable">
                <thead class="table">
                  <tr class="table-secondary">
                    <th class="text-center"># de Radicado</th>
                    <th class="text-center">Cedula</th>
                    <th class="text-center">Tipo de Radicado</th>
                    <th class="text-center">Estado de Radicado</th>
                    <th class="text-center">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="radicado: ${radicados}">
                    <td th:text="${radicado.noradicado}" class="table-light"></td>
                    <td th:text="${radicado.cedula}" class="table-light"></td>
                    <td th:text="${radicado.tiporadicado}" class="table-light"></td>
                    <td th:text="${radicado.estadoradicado}" class="table-light"></td>
                    <td class="table-light">
                      <a th:href="@{/radicados/see/{id}(id=${radicado.id})}" class="btn btn-warning">Consultar</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    function filtroNumero() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>
  <script>
    var filtro1 = document.getElementById('filtro1');
    var filtro2 = document.getElementById('filtro2');
    var tabla = document.getElementById('myTable');
    var filas = tabla.getElementsByTagName('tr');

    filtro1.addEventListener('change', filtrarTabla);
    filtro2.addEventListener('change', filtrarTabla);

    function filtrarTabla() {
      var valorFiltro1 = filtro1.value;
      var valorFiltro2 = filtro2.value;

      for (var i = 1; i < filas.length; i++) {
        var fila = filas[i];
        var columna1 = fila.getElementsByTagName('td')[2];
        var columna2 = fila.getElementsByTagName('td')[3];

        var cumpleFiltro1 = valorFiltro1 === 'todos' || columna1.textContent === valorFiltro1;
        var cumpleFiltro2 = valorFiltro2 === 'todos' || columna2.textContent === valorFiltro2;

        if (cumpleFiltro1 && cumpleFiltro2) {
          fila.style.display = '';
        } else {
          fila.style.display = 'none';
        }
      }
    }
  </script>
</body>

</html>